body { 
    background-color: #bebebe;
}

h1 {
    font-family: Arial;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
} 


    
.align{
    text-align: center;
    vertical-align: middle;
    line-height: 55px;
    visibility: hidden;
}


