<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
          
        
        {% endblock %}
        
        <div class="d-flex flex-row" id="hover">
          <div class="p-2" id="image"><i class="material-icons">sync</i></div>
          <div class="p-2 align" id="user"></div>
          <div class="p-2 align" id="logout"></div>
        </div>
        
        
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
    <script src="{{ asset('js/login-button.js') }}"></script>

</html>
